---
import { getCollection } from "astro:content";

// 獲取所有文章
const posts = await getCollection("blog");

// 提取標籤
const categories = posts
  .map((p) =>
    p.data.categories ? p.data.categories.map((t) => t.toUpperCase()) : []
  )
  .flat()
  .filter((tag) => tag);

interface CategoryCount {
  [category: string]: number;
}
// 統計數量
const AllCounts = categories.reduce((acc: CategoryCount, category) => {
  if (!acc[category]) {
    acc[category] = 0;
  }
  acc[category]++;
  return acc;
}, {});

// 排序
const tags = Object.keys(AllCounts).sort((a, b) => AllCounts[b] - AllCounts[a]);
---

<div>
  <h4>Categories</h4>
  <ul>
    {
      tags.map((category) => (
        <li>
          <a class="tag" href={`/categories/${category}`}>
            {category} ({AllCounts[category]})
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
    /* margin: 0; */
  }

  /* ul a {
    text-decoration: none;
    color: var(--text-color);
  } */
</style>
