---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const recentPosts = posts.slice(0, 5);
---

<div>
  <h4>Recent Posts</h4>
  <ul>
    {
      recentPosts.map((post) => {
        const path = post.id.slice(0, post.id.lastIndexOf("/")).toLowerCase();
        return (
          <li>
            <a href={`/post/${path}/`}> {post.data.title} </a>
          </li>
        );
      })
    }
  </ul>
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
