---
import GeneralLayout from "../layouts/GeneralLayout.astro";
---

<GeneralLayout>
  <section>
    <div>
      <h2> Url-Insight</h2>
      <a href="https://url-ins.com">url-ins.com</a>
    </div>
    
  </section>
</GeneralLayout>
