---
const today = new Date();
---

<footer>
	<div class="w-960 px-4 mx-auto">
		<div class="max-w-7xl py-6 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
			<div class="md:w-2/5 md:mx-0 mx-auto text-center md:text-left">
				<a class="uppercase font-display flex text-2xl font-medium items-center justify-center text-gray-900">
					<span class="text-gray-600 dark:text-gray-400">伊恩</span>
				</a>
				<p class="mt-2 font-display text-gray-700">
					<span class="font-normal block dark:text-gray-300">.NET Developer | Blogger | Learner </span>
				</p>
				<p class="mt-2 leading-relaxed font-normal">
					<span>在知識大海中漂流的小船，不停追尋屬於自己的秘寶。關注各種架構與技術的發展，並持續探索技術與業務價值的平衡點。</span>
					<span>
						目前專注於.NET、雲端技術、系統架構、容器化與監控的統整，在支撐業務價值的同時，有效降低建置/營運成本、並系統的可靠性。
					</span>
				</p>
			</div>
			<div class="footer__links md:w-3/5 flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 text-center">
				<div class="md:w-1/2 w-full px-4">
					<h2 class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3">
						Projects
					</h2>
					<nav class="list-none mb-10">
						<ul>
							<li class="mb-1">
								<a class="" href="https://url-ins.com" title="Url-Insight" target="_blank" rel="noopener">
									Url-Insight
								</a>
							</li>

						</ul>
					</nav>
				</div>

				<div class="md:w-1/2 w-full px-4">
					<h2 class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3">
						Social
					</h2>
					<nav class="list-none mb-10">
						<ul>
							<li class="mb-1">
								<a class="" href="https://facebook.com/276561129952456" title="Facebook" target="_blank"
								   rel="noopener noreferrer">
									Facebook</a>

							</li>
							<li class="mb-1">
								<a class="" href="https://www.linkedin.com/in/ean-lee-7b63b6110/" title="LinkedIn" target="_blank"
								   rel="noopener noreferrer">
									LinkedIn</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

		</div>
	</div>
	<div>

	<p>文章內容均為個人學習記錄、心得與認知，若任何謬誤或建議，歡迎直接留言討論，一同成長。</p>
	&copy; 2021-{today.getFullYear()} 伊恩的軟體狂想 All rights reserved.
	</div>

</footer>

<style>

	footer {
		padding: .5rem 0;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: .75rem;
	}

	footer p {
		text-align: center;
		margin-bottom: 0;
		margin-top: .5rem;
	}

	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
