---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		text-decoration: none;
		transition: all 0.2s ease;
	}
	
	a svg {
		transition: all 0.2s ease;
	}
	
	a:hover svg {
		transform: scale(1.1);
	}
	
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
