---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { title, description, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="zh-TW">
  <head>
    <BaseHead
      title={title ? title + " - " + SITE_TITLE : SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      noindex={noindex}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <BackToTop />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      main {
        display: flex;
        width: var(--container-xl);
        max-width: calc(100% - 2em);
        flex: 1;
        margin: 0 auto;
        min-height: 0;
      }

      @media (max-width: 1120px) {
        main {
          width: 100%;
        }
      }
    </style>
  </body>
</html>
